* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
  }
  
  a:hover,a:focus{
    text-decoration: none;
  }

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background-color: wheat;
}
.phone_ver{
    position: relative;

}
.top_main img{
    max-width:100%; 
    max-height:auto;
}
.team{
    display: flex;
    justify-content: center;
}

.fan_msgs{
    width: 100%;
    margin-top:30px;
    z-index: 1;
}
.fan_msgs .card{
    padding:10px 10px 5px 10px;
    margin: 15px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.15);
}
.fan_msgs .card .card_title{
    display:flex;
    margin:5px 5px 10px 5px;
    padding-bottom: 5px;
    border-bottom:1px solid #EFEFEF;
}
.fan_img{
    float: left;
    padding-top: 5px;
}
.fan_img img{
    border: 2px solid #cccccc;
}
.fan_info{
    display: flex;
    flex-direction: column;
    margin: 0px 0px 5px 10px;
}
    .fan_name{
        font-weight: 800;
    }

.card_des{
    margin-top: 5px;
}
.fan_msgs .card .fan_msg{
    display:flex;
    flex-direction: column;
    margin:5px 5px 5px 5px;
}
.brith_msg
{
    margin-left: 30%;

}


@media screen and (min-width: 780px) { 
    .phone_ver { 
        display: none; 
    } 
}
@media screen and (max-width: 780px){
    .pc_ver{
        display: none;
    }
}


