@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
  }
  
  a:hover,a:focus{
    text-decoration: none;
  }

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background-color: wheat;
}

.brith_msg
{
    font-size: 15px;
    color:#46444479
}

.phone_ver{
    position: relative;
    /* background-color: rgb(108, 152, 235); */
    background-image: url("/img/pattern.png");
    background-size: 100%;
}

.top_main img{
    max-width:100%; 
    max-height:auto;
}
#scroll{
    position: absolute;
    margin-top: 60px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
.container {
    position: absolute;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
  }
  
  .chevron {
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
  }
  
  .chevron:first-child {
    animation: move 3s ease-out 1s infinite;
  }
  
  .chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
  }
  
  .chevron:before,
  .chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #fff;
  }
  
  .chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
  }
  
  .chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
  }
  
  @keyframes move {
    25% {
      opacity: 1;
  
    }
    33% {
      opacity: 1;
      transform: translateY(30px);
    }
    67% {
      opacity: 1;
      transform: translateY(40px);
    }
    100% {
      opacity: 0;
      transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
  }

.team{
    display: flex;
    justify-content: center;
}

.fan_msgs{
    width: 100%;
    margin-top:30px;
    z-index: 1;
}
.fan_msgs .card{
    padding:10px 10px 5px 10px;
    margin: 15px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.15);
}
.fan_msgs .card .card_title{
    display:flex;
    margin:5px 5px 10px 5px;
    padding-bottom: 10px;
    border-bottom:2px solid #EFEFEF;
}
.fan_img{
    float: left;
    padding-top: 5px;
}
.fan_img img{
    border: 2px solid #5c8cf3;
}
.fan_info{
    display: flex;
    flex-direction: column;
    margin: 0px 0px 5px 10px;
}
    .fan_name{
        font-weight: 800;
        margin-top: 10px;
    }

.card_des{
    margin-top: 5px;
    color:#000000
}
.fan_msgs .card .fan_msg{
    display:flex;
    flex-direction: column;
    margin:5px 5px 5px 5px;
    font-family: 'Nanum Gothic', sans-serif;
}
.brith_msg
{
    margin-left: 30%;

}

@media screen and (min-width: 770px){
    .phone_ver{
      display: none;
    }
    .pc_ver{
      display: block;
    }
  }

 @media screen and (max-width: 771px){
    .phone_ver{
      display: black;
    }
    .pc_ver{
      display: none;
    }
}

.pc_ver
{
    position: absolute;
    top: 50%;
    left:50%;
    padding:5px;
    transform: translate(-50%,-50%);
    font-size: 14px;
    line-height: 28px;
    /* border-radius: 15px;
    background: #7b81cf; */
}
.pc_ver .server_msg
{
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}


