@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
  }
  
  a:hover,a:focus{
    text-decoration: none;
  }

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background-color: wheat;
}

.phone_ver{
    position: relative;
    background-color: rgb(108, 152, 235);

}
.top_main img{
    max-width:100%; 
    max-height:auto;
}
/* .top_main #happy
{
    position: absolute;
    font-size: 50px;
    color:#7961e6
}
.top_main #suyun
{
    position: absolute;
    margin-left: 200px;
    font-size: 50px;
}
.top_main #day
{
    position: absolute;
    font-size: 50px;
} */
.team{
    display: flex;
    justify-content: center;
}

.fan_msgs{
    width: 100%;
    margin-top:30px;
    z-index: 1;
}
.fan_msgs .card{
    padding:10px 10px 5px 10px;
    margin: 15px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.15);
}
.fan_msgs .card .card_title{
    display:flex;
    margin:5px 5px 10px 5px;
    padding-bottom: 5px;
    border-bottom:2px solid #EFEFEF;
}
.fan_img{
    float: left;
    padding-top: 5px;
}
.fan_img img{
    border: 2px solid #5c8cf3;
}
.fan_info{
    display: flex;
    flex-direction: column;
    margin: 0px 0px 5px 10px;
}
    .fan_name{
        font-weight: 800;
    }
    .fan_from{
        color:rgba(19, 16, 16, 0.692)
    }

.card_des{
    margin-top: 5px;
    color:#000000
}
.fan_msgs .card .fan_msg{
    display:flex;
    flex-direction: column;
    margin:5px 5px 5px 5px;
}
.brith_msg
{
    margin-left: 30%;

}

@media screen and (min-width: 770px){
    .phone_ver{
      display: none;
    }
    .pc_ver{
      display: block;
    }
  }

 @media screen and (max-width: 771px){
    .phone_ver{
      display: black;
    }
    .pc_ver{
      display: none;
    }
}

.pc_ver
{
    position: absolute;
    top: 50%;
    left:50%;
    padding:5px;
    transform: translate(-50%,-50%);
    font-size: 14px;
    line-height: 28px;
    border-radius: 15px;
    background: #7b81cf;
}
.pc_ver .server_msg
{
    padding: 20px;
    border-radius: 15px;
}


